.WChartContainer{
    padding-left: 30px;
    font-size: 12px;
    border: #d4d4d4 solid 4px;
    padding: 20px;
    border-radius: .4cm;
   
}
.WChartContainer h3{
    height:30px;
    text-align: center;
    display: block;
    font-size: 20px;
    
}


.SectionLabels{
    display: flex;
    justify-content: center;
    align-items: center;
}
.SectionLabels label{
    padding: 5px;
    display: inline-flex; 
    height: 20px;
    justify-content: center;
     align-items: center;
 }

.SectionLabels label span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;    
    margin: 5px;
 }

.SectionBars{
    display: flex;
    align-items:  flex-end;
    height:80%;     
    padding-left: 30px;
    position: relative;
    overflow-x: scroll;
}
.GroupSection{
    display: flex;
    align-items:  flex-end;
    height:80%;
    border-bottom:3px rgb(155, 155, 155) solid ; 
    position: relative;
    flex-direction: column;
}
 .groupBars
{  
    width: 100%; 
    height: 300px;
    display: flex;
    border: solid 1px #d4d4d4;
}
.groupLabels{
    display: flex;
    width: 100%;
    border: solid 1px #d4d4d4;
    align-items: stretch;
    background-color: #fff;
    height: 30px;
}
.groupLabels label{
    padding: 5px;
    flex-grow: 1;
    width: 60px;
    border: solid 1px #d4d4d4;
}
.ContainerBars{  
    display: flex;
    width: 100%;   
    /* margin-left: 5px;
    margin-right: 5px; */    
    flex-direction: column;
    align-items: flex-end;   
    justify-content: flex-end;
}

.ContainerBars .Bars{
    display: block;
    margin: 0 auto;
   margin-top: 0px;
   z-index: 1;   
   width: 60px;
   min-height: 15PX;
   /* flex-grow: 1; */
}
.Bars label{
    width: 100%;
    text-align: center;
    display: block;
    font-size: 11px;
    margin-top : 5px;
    font-weight: bold;
    overflow: hidden;
 }



 .BackGrounLineX{
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;   
    height: 300px;
    right: 0px; 
}
.CharLineX{
    position: relative;
    border-top: rgb(190, 190, 190) solid 1px;
    height: 100%;
    display: block;       
    align-items: flex-start;
    display: flex;
    padding-left: 5PX;
    
}
.CharLineXNumber{
    position: relative;
    border-top: rgba(190, 190, 190,0) solid 1px;
    height: 100%;
    display: block;       
    align-items: flex-start;
    display: flex;
    padding-left: 5PX;
    
}
.ElementG1::before{
   height: 30px;
   z-index: -1;
   width: 30px;
   background-color: #70ad47;
   border:  2px solid #fff;
   content: "";
   position: absolute;
   left: -35px;
 
}
.ElementG2::before{
    height: 30px;
    width: 30px;
    background-color: #5b9bd5;
    border:  2px solid #fff;
    content: "";
    z-index: -1;
    position: absolute;
    left: -35px;
  
 }
 .ElementG3::before{
    height: 30px;
    width: 30px;
    background-color: #ffc000;
    border:  2px solid #fff;
    content: "";
    z-index: -1;
    position: absolute;
    left: -35px;
    
 }




