body{
    margin: 0px; 
    padding: 0px;
}
header {
    height: 50px;
    background-color: #0072b4;
    margin: 0px; 
    padding: 0px;
}
.MainSection {
    height: calc(100vh - 50px);
    background-color: #dadada;
    margin: 0px; 
    padding: 0px;
    overflow: hidden;
    display: flex;
}
aside {
    height: calc(100% - 10px);
    width: 30%;
    margin: 5px;
    background-color: #9b9b9b;
    overflow-y: auto;
}
main {
    height: calc(100% - 10px);
    width: 70%;
    margin: 5px;
    background-color: #ffffff;
    overflow-y: auto;
}
@media (max-width: 600px){
    main {       
        width: 90%;        
    }
    aside {
        width: 10%;       
    }

}
.Article{
    display: flex;
    padding: 15px;
    margin: 5px;
    border: solid 2px #b6b5b5;
    align-items: center;
    border-radius: 0.3cm;
}
.Article a{
    padding: 15px;
    background-color: #0072b4;
    color: #fff;
    text-decoration: none;
    border-radius: 0.2cm;
    margin-left: 20px;
}
.Article label {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.ArtContenido, .ViewNewArt{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    font-size: 26px;
    text-align: justify;
    display: none;
}
.ViewNewArt input,.ViewNewArt select, .ViewNewArt textarea {
    display: block;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    width: 95%;
}
.txtSearch{
    padding: 10px;
    display: block;
    width: 95%;
    font-size: 18px;
}
/*CSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
.AutorCardCssClass{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-radius: 0.3cm;
    overflow: hidden;
    margin: 10px
}
.franjaAzul{
    height: 50px;
    background-color: #0072b4;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height: 50px;
}
.DataCardCssClass{
    display: flex;
    height: 200px;    
    margin: 5px;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.AutorCardCssClass img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.DataAutorCssClass {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.DataAutorCssClass label{
    padding: 5px;

}